body { 
  margin:0;
  background-color: blue; 
  font-family: Arial, Lucida Sans Unicode;
}

h2 {
text-align: center;
color:white;
text-transform: capitalize;
font-size: 20px;
}

/*****************************/

.barra {
  display:flex;
  width: 100%;
  background-color: #333;
  align-items:center;
  justify-content:space-between;

}

.barra .login {
  display:flex;
  justify-content:flex-start;
  align-items:center;
  
}


.barra .login input[type=text] , [type=password] {
  color: green;
  justify-content: space-between;
}

.barra .login botao {
  font-weight: bold;
  color: white;
  cursor:pointer;
  
}

.barra .login botao:hover {
  background-color:green;
}

.barra .menu {
  display:flex;
  align-self:end;
  justify-content: end;
  align-content:end;
  align-items:end;
}

.barra .menu botao { 

  display: flex;
  align-self: flex-end;
  color: #f2f2f2 ;
  text-align: center;

  padding: 14px 16px;
  font-size: 17px;
  

}
.barra .menu botao:hover {
  background: red;
  color: black;

}

.barra botao.active{  /*não tenho a certeza se isto é necessário porque não temos links */
  background-color: red;
  color:white;
}

.janela {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.conteudo {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;

}

.close { ;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

/*****************************/

 .logo{
     display:flex;
     align-content:center;
     justify-content:center;  
 }

#ecra {
    display: flex;
}

.coluna {
    display:          flex-inline;
    width:            20%;
    background-color: grey;
    color:            black;

    align-content:center;
    justify-content:center;  
}

.meia_coluna {
  align-items:center;
  justify-content:center;
}

.tabuleiro {
    width: 50vw;
    height: 50vw;

    display:          flex;
    flex-wrap:        nowrap;
    flex-direction:   column;
    justify-content:  center;
    align-items:      center;

    /*
    border-style:     outset;
    border-width:     2px;
    padding:          10px;*/   
    background:       green;
    margin:           auto;
}

.linha {
    width:            40vw;
    height:           5vw;

    display:          flex;
    flex-wrap:        nowrap;
    justify-content:  space-around;
    align-items:      center;
}

.celula {
    width:            5vw;
    height:           100%;
     
    display:          flex-inline;
    flex-wrap:        wrap;
    justify-content:  space-around;
    align-items:      center;
    align-content:    center;
    
    border-style:     outset;
    border-collapse:  collapse;
    background:       orange;
}

.peça {
    width:            90%;
    height:           90%;

    visibility:       hidden;

    margin:           auto;
    margin-top:       5%;
    margin-bottom:    5%;
    /*
    position:         relative; 
    top:              50%; 
    margin-top:       -45%;
    */
    border-radius:    50%;
    background:       white;
}


table {
    
    width:            50%;
    
}
table,td, th {
    border:           5px;
    border-collapse:  collapse;
}
  td, th {
    width:            12%;
    height:           12%;
  }

.branco { 
    background-color: white;
    color:            black;
}
.preto {
    background-color: black;
    color:            white;
}
.livres{
  background-color: grey
  color: green;
}

